.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
}
.logo{
    margin-top: 15px;
   
}
.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
}
.banner{
    width: 1200px;
    margin-left: -42px;
    margin: auto;
} 
