.maincontent{
    justify-content: center;
    align-items: center;
}
.maincontent h2{
    color:  #ffffff;
    font-size: 45px;
    text-align: center;
    margin-top: 20px;
    font-weight: 800;
    
}
.maincontent p{
    letter-spacing: 1px;
    line-height: 29px;
    width: 79%;
    color: #ffffff;
    margin: 25px 120px;
}
#getStartedBtn{
    background: white;
    border: none;
    outline: none;
    width: 125px;
    height: 36px;
    text-align: center;
    font-weight: 800;
    border-radius: 15px;
    margin: 10px 495px;
}
@media screen and (max-width:768px){
    .maincontent h2{
        font-size: 30px;
        text-align: center;
    }
    .maincontent p{
        width: 100%;
        margin: 10px;
        margin-top: 26px;
    }
    .getstarted-btn{
        margin: 20px 126px
}
    
}